<div class="row">

    <div class="form-group"  *ngIf="loading">
        <div class="col-md-12 text-center">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>
    </div>

    <div class="col-xs-12" *ngIf="bowls.length == 0 && !loading">
        <span>No bowls found!</span>
        <span>Would you like to add one?</span>
        <button class="btn btn-link" (click)="addBowl()">Add Bowl</button>
    </div>
    <div class="col-xs-12" *ngIf="bowls.length > 0">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-4" *ngFor="let bowl of bowls">
                <div class="panel panel-default item-panel">

                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <span>{{bowl.name}}</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <i class="fa fa-times fa-pull-right" style="font-size:16pt" (click)="removeBowl(bowl.id)"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span><i class="fa fa-map-marker"></i> {{bowl.location}}</span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs12">
                                <div class="center-block" style="display: block; width:80px;">
                                    <canvas baseChart
                                            [data]="[bowl.foodAlert, bowl.foodAmount, 5]"
                                            [labels]="['Alert', 'Amount', 'Capacity']"
                                            [chartType]='"doughnut"'
                                            [options]="chartOptions"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center">
                                    <span>{{bowl.foodName}}</span>
                                </div>

                                <span><i class="fa fa-lock fa-pull-right" [ngClass]="bowl.open ? 'fa-lock' : 'fa-unlock'" style="font-size:16pt"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-link" (click)="viewDetails(bowl.id)">Show details</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="add-btn" (click)="addBowl()"><button>+</button></div>
<!--
<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4" *ngFor="let bowl of bowls">
        <div class="panel panel-default item-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs12">
                        <span>{{bowl.name}}</span>
                        <i class="fa fa-times fa-pull-right" style="font-size:16pt" (click)="removeBowl(bowl.id)"></i>
                    </div>
                    <div class="col-xs12">
                        <span><i class="fa fa-map-marker"></i> {{bowl.location}}</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="center-block" style="display: block; width:80px;">
                    <canvas baseChart
                            [data]="[bowl.foodAlert, bowl.foodAmount, 5]"
                            [labels]="['Alert', 'Amount', 'Capacity']"
                            [chartType]='"doughnut"'
                            [options]="chartOptions"></canvas>
                </div>
                <span class="text-center">{{bowl.foodName}}</span>
                <span><i class="fa fa-lock fa-pull-right" [ngClass]="bowl.open ? 'fa-lock' : 'fa-unlock'" style="font-size:16pt"></i></span>
            </div>

        </div>
    </div>
</div>
    -->
